{{input type="text"
    placeholder="Es gibt immer 'was zu tun'"
    enter="createTodo"
    value=aufgabenText}}

<ul>
{{#each model.offene as |aufgabe|}}
    {{#liquid-unless aufgabe.done class="task"}}
    <li {{action "erledigen" aufgabe}}>{{aufgabe.title}}</li>
    {{/liquid-unless}}
{{/each}}
</ul>